.menu-items__wrapper {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--base-header-color);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.menu-items__wrapper.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .menu-items__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    width: 100%;
    height: 48px;
    top: unset;
    left: unset;
    transform: none;
    background-color: inherit;
  }
}
