.article {
  margin: 44px 0;
}

@media screen and (min-width: 768px) {
  .article {
    width: 1160px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
  }

  .article:nth-child(2n) {
    flex-direction: row-reverse;
  }
}
