:root {
  /* 
    COLOR PALLETE
    */

  --base-primary-color: #6a0066;
  --base-secondary-color-1: #fff;
  --base-secondary-color-2: #000;

  --base-tag-bgcolor: #e1e1e1;
  --base-header-color: rgba(0, 0, 0, 0.69);
  --base-tag-color: rgba(0, 0, 0, 0.8);

  /* 
    Typography
    */

  /* desktop sizes  */
  --font-desktop-h1: 56px;
  --font-mobile-h1: 32px;

  --font-desktop-h2: 40px;
  --font-mobile-h2: 20px;

  --font-h3: 30px;

  --font-body: 16px;
  --font-nav-menu: 16px;
  --font-button: 16px;
  --font-article-tag: 12px;

  /* font family  */
  --font-family: "Roboto", sans-serif;

  /* font weight */
  --font-weight-100: 100;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;

  --line-height-desktop-h1: 63px;
  --line-height-mobile-h1: 48px;
  --line-height-p:28px;

}
