.hamburger__icon,
.navbar__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger__icon:hover,
.navbar__icon :hover {
  cursor: pointer;
}

.hamburger__icon {
  z-index: 99;
}

.navbar__button {
  display: none;
}

@media screen and (min-width: 768px) {
  .hamburger__icon {
    display: none;
  }

  .navbar__button {
    display: block;
  }
}
