.article{
  margin: 30px 0;
}

.article__content {
  gap: 9px;
}

.article__tags__container,
.article__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.article__tags__container {
  height: 44px;
  padding: 10px, 0px, 10px, 0px;
  gap: 10px;
}

.article__buttons {
  height: 33px;
  gap: 16px;
}


.article__desctiption h3,
p {
  margin: 10px 0;
}

.article__desctiption p {
  line-height: var(--line-height-p);
}
